In [74]:
#Dataset 2
student_grades = [["Suresh", 85],["Ramesh",92],["Rahul", 78],["Mohan", 78],["Raj", 60],["Arpit", 81],["Soham", 80]]
student_grades

[['Suresh', 85],
 ['Ramesh', 92],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Arpit', 81],
 ['Soham', 80]]

In [75]:
#1 Append New student Entry 
student_grades.append(["Sam",78])
student_grades

[['Suresh', 85],
 ['Ramesh', 92],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Arpit', 81],
 ['Soham', 80],
 ['Sam', 78]]

In [76]:
#2 Insert a new student at some specific index
student_grades.insert (2,["Raman",99])
student_grades

[['Suresh', 85],
 ['Ramesh', 92],
 ['Raman', 99],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Arpit', 81],
 ['Soham', 80],
 ['Sam', 78]]

In [77]:
#3 Remove Specific Record 
student_grades.remove(["Arpit",81])
student_grades

[['Suresh', 85],
 ['Ramesh', 92],
 ['Raman', 99],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Soham', 80],
 ['Sam', 78]]

In [78]:
#4 Pop Terminal Record
removed = student_grades.pop(1)
removed

['Ramesh', 92]

In [79]:
student_grades

[['Suresh', 85],
 ['Raman', 99],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Soham', 80],
 ['Sam', 78]]

In [80]:
#5 Count Duplicate marks of student
count = sum(1 for x in student_grades if x[1] == 78)
print(count)

3

In [81]:
names_78 = [x[0] for x in student_grades if x[1] == 78]
print(names_78)

['Rahul', 'Mohan', 'Sam']

In [82]:
#6 Merge with another Batch
student_grades.extend([["Shree",70] ,["Rocky", 75]])
student_grades

[['Suresh', 85],
 ['Raman', 99],
 ['Rahul', 78],
 ['Mohan', 78],
 ['Raj', 60],
 ['Soham', 80],
 ['Sam', 78],
 ['Shree', 70],
 ['Rocky', 75]]

In [83]:
#7 Reverse List Order
student_grades.reverse()
student_grades

[['Rocky', 75],
 ['Shree', 70],
 ['Sam', 78],
 ['Soham', 80],
 ['Raj', 60],
 ['Mohan', 78],
 ['Rahul', 78],
 ['Raman', 99],
 ['Suresh', 85]]

In [84]:
#8 Create Independent Backup (shallow copy)
backup = student_grades.copy()
backup.append(["NewStudent", 90])
backup

[['Rocky', 75],
 ['Shree', 70],
 ['Sam', 78],
 ['Soham', 80],
 ['Raj', 60],
 ['Mohan', 78],
 ['Rahul', 78],
 ['Raman', 99],
 ['Suresh', 85],
 ['NewStudent', 90]]

In [85]:
student_grades

[['Rocky', 75],
 ['Shree', 70],
 ['Sam', 78],
 ['Soham', 80],
 ['Raj', 60],
 ['Mohan', 78],
 ['Rahul', 78],
 ['Raman', 99],
 ['Suresh', 85]]

In [86]:
#9 Update marks at Index 2
student_grades[2][1]=50
student_grades

[['Rocky', 75],
 ['Shree', 70],
 ['Sam', 50],
 ['Soham', 80],
 ['Raj', 60],
 ['Mohan', 78],
 ['Rahul', 78],
 ['Raman', 99],
 ['Suresh', 85]]

In [87]:
#10 Clear Database Records
student_grades.clear()
student_grades

[]